<div *ngIf="dataLoaded" class="list-group">
    <li *ngFor="let comment of comments.items" class="list-group-item d-flex gap-3 py-3" aria-current="true">
        <!-- <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
            class="rounded-circle flex-shrink-0"> -->
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">{{comment.title}}</h6>
                <p class="mb-0 opacity-75">{{comment.description}}</p>
            </div>
            <small class="opacity-50 text-nowrap">{{comment.point + " Stars"}}</small>
        </div>
    </li>
</div>

<div *ngIf="!dataLoaded" class="text-muted fs-4">
    Bu şirket için hiç yorum yapılmamış
</div>