<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ps-lg-2">
    <h1 class="h2">{{'transportRequests' | translate}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button class="btn shadow-none me-2">
                <fa-icon [icon]="faRedoAlt" size="1x" class="fa fa-icon-refresh" (click)="getList();">
                </fa-icon>
            </button>
        </div>
        <!-- <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="openModal('car-add')">
            Add Car
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="openModal('truck-add')">
            Add Truck
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="openModal('pickuptruck-add')">
            Add Pickup Truck
        </button> -->
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'customerName' | translate}}</th>
                <th scope="col">{{'from' | translate}}</th>
                <th scope="col">{{'to' | translate}}</th>
                <th scope="col">{{'placeSize' | translate}}</th>
                <th scope="col">{{'startDate' | translate}}</th>
                <th scope="col">{{'isFinished' | translate}}</th>
                <th scope="col">{{'isPaid' | translate}}</th>
                <th scope="col">{{'isApproved' | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="dataLoaded" class="table-group-divider">
            <tr *ngFor="let transportRequest of transportRequests; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <th>{{transportRequest.customerFirstName + " " + transportRequest.customerLastName}}</th>
                <td>{{transportRequest.countryFrom + " - " + transportRequest.cityFrom}}</td>
                <td>{{transportRequest.countryTo + " - " + transportRequest.cityTo}}</td>
                <td>{{transportRequest.placeSize}}</td>
                <td>{{transportRequest.startDate}}</td>
                <td class="text-danger">{{getFinishStatus(transportRequest.isFinished)}}</td>
                <td>{{transportRequest.isPaid}}</td>
                <td>{{getApproveStatus(transportRequest.approvedByCompany)}}</td>


                <td class="text-end">
                    <button *ngIf="getApproveStatus(transportRequest.approvedByCompany) == 'Waiting'"
                        (click)="openApproveRequestModal(transportRequest)"
                        class="btn btn-outline-success shadow-none me-2">
                        <fa-icon [icon]="faCircleCheck" size="1x" class="fa fa-faCircleCheck"></fa-icon>
                    </button>
                    <button *ngIf="!(getApproveStatus(transportRequest.approvedByCompany) == 'Waiting')"
                        (click)="openTransportRequestInfoModal(transportRequest)"
                        class="btn btn-outline-info shadow-none me-2">
                        <fa-icon [icon]="faClock" size="1x" class="fa fa-faClock"></fa-icon>
                    </button>
                    <button *ngIf="getApproveStatus(transportRequest.approvedByCompany) == 'Waiting'"
                        (click)="openRejectRequestModal(transportRequest)" class="btn btn-outline-danger shadow-none">
                        <fa-icon [icon]="faCircleXMark" size="1x" class="fa fa-faCircleXmark"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!dataLoaded" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>