<section style="background-color: var(--app-background-color);">
    <div class="container py-5" style="min-height: 95vh;">

        <div class="p-head mb-3">
            <h1 href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="assets/images/logo.png" width="40" class="me-2" alt="">
                <span class="fs-4">{{'transportRequests' | translate}}</span>
            </h1>
        </div>

        <div class="row" style="min-height: 75vh;">

            <!-- Filters -->
            <div class="col-lg-3 col-sm-12">
                <div class="mb-3">
                    <!-- <form [formGroup]="filterForm" (ngSubmit)="search()" (keyup.enter)="search()"> -->
                    <div class="mb-1 d-flex">
                        <input class="form-control me-1" type="search" placeholder="{{'search' | translate}}"
                            aria-label="Search" />
                        <button class="btn btn-outline-app" type="submit">{{'search' | translate}}</button>
                    </div>
                    <!-- </form> -->
                </div>
                <hr>

            </div>

            <!-- Companies Data -->
            <div class="col-lg-9 col-sm-12">
                <div class="row row-cols-1 row-cols-md-1 g-2">
                    <div *ngFor="let transportRequest of transportRequests" class="col">
                        <div class="card w-100 mb-3">
                            <div class="card-body">
                                <div class="transport-request info">
                                    <h5 class="card-title">
                                        {{transportRequest.companyName}}
                                        <span class="badge bg-secondary rounded-pill">
                                            {{getApprovedText(transportRequest.approvedByCompany) | translate}}
                                        </span>
                                    </h5>
                                    <p class="card-text">
                                        {{transportRequest.customerFirstName + " " + transportRequest.customerLastName}}
                                        <br>
                                        {{("transportType" | translate) + ': ' + transportRequest.transportType}}
                                    </p>
                                    <p class="card-text">
                                        {{transportRequest.countryFrom + ", " + transportRequest.cityFrom
                                        + " -> " +
                                        transportRequest.countryTo + ", " + transportRequest.cityTo}}
                                    </p>
                                    <p class="card-text">
                                        {{('vehicle' | translate) + ': ' + transportRequest?.brand + ' - ' +
                                        transportRequest?.model }}
                                    </p>
                                    <p class="card-text">
                                        {{("startDate" | translate) + ': '}}
                                        <span class="fw-semibold">{{transportRequest.startDate | date}}</span>
                                    </p>
                                </div>

                                <div *ngIf="!transportRequest.paymentRequest">
                                    <h5 class="card-title text-muted">
                                        {{("paymentRequestHasNotSentYetFrom" | translate) + ': ' +
                                        transportRequest.companyName}}
                                    </h5>
                                </div>

                                <div *ngIf="transportRequest.paymentRequest !== null" class="payment-request-info mb-3">
                                    <div *ngIf="transportRequest.paymentRequest">
                                        <hr>
                                        <h6 class="card-title">
                                            {{"paymentRequestInfo" | translate}}
                                            <span class="badge bg-secondary rounded-pill">
                                                {{getIsPaidText(transportRequest.isPaid) | translate}}
                                            </span>
                                        </h6>
                                        <p class="card-text">
                                            {{("price" | translate) + ': ' + transportRequest.paymentRequest.price +
                                            " TL"}}
                                        </p>
                                        <p class="card-text">
                                            {{("transportRequestAcceptanceDate" | translate) + ': '}}
                                            <span class="fw-semibold">
                                                {{transportRequest.paymentRequest.createdDate | date}}
                                            </span>
                                        </p>
                                    </div>
                                    <div *ngIf="!transportRequest.paymentRequest">
                                        <h5 class="card-title text-muted">
                                            {{("paymentRequestHasNotSentYetFrom" | translate) + ': ' +
                                            transportRequest.companyName}}
                                        </h5>
                                    </div>
                                </div>

                                <div *ngIf="transportRequest.isFinished" class="">
                                    <strong class="text-success me-2">{{'thisJobIsFinished' | translate}}</strong>
                                    <a routerLink="/companies/company/details/{{transportRequest.companyId}}"
                                        class="btn btn-warning">
                                        {{'doComment' | translate}}
                                    </a>
                                </div>
                                <div *ngIf="!transportRequest.isFinished">
                                    <!-- if not paid -->
                                    <a *ngIf="!transportRequest.isPaid && transportRequest.approvedByCompany"
                                        (click)="pay(transportRequest)" class="btn btn-primary me-2">
                                        {{'payAndStartTransportation' | translate}}
                                    </a>
                                    <a *ngIf="(transportRequest.approvedByCompany == true || transportRequest.approvedByCompany==null) && !transportRequest.isPaid"
                                        (click)="reject(transportRequest)" class="btn btn-secondary me-2">
                                        {{'rejectAndCloseThisTransportRequest' | translate}}
                                    </a>

                                    <!-- if paid -->
                                    <a *ngIf="transportRequest.isPaid " class="btn btn-success me-2"
                                        (click)="finish(transportRequest)">
                                        <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                                        {{'markAsJobFinished' | translate}}
                                    </a>
                                    <a *ngIf="transportRequest.isPaid" class="btn btn-primary disabled me-2">
                                        {{('waitingForTheJobToBeFinished' | translate) + '...'}}
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- None transport request -->
                    <div *ngIf="transportRequests.length <= 0" class="text-center text-muted fs-3 col">
                        {{'cannotFindAnyTransportRequest' | translate}}
                    </div>

                </div>
            </div>
        </div>



        <div class="p-body">

        </div>


    </div>
</section>