<section style="background-color: var(--app-background-color);">
    <div class="container py-5" style="height: 95vh;">

        <div class="p-head mb-3">
            <h1 href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="assets/images/logo.png" width="40" height="32" class="me-2" alt="">
                <span class="fs-4">Transport Requests</span>
            </h1>
        </div>

        <div class="row" style="min-height: 75vh;">

            <!-- Filters -->
            <div class="col-3">
                <div class="mb-3">
                    <!-- <form [formGroup]="filterForm" (ngSubmit)="search()" (keyup.enter)="search()"> -->
                    <div class="mb-1 d-flex">
                        <input class="form-control me-1" type="search" placeholder="Ara" aria-label="Search"
                            formControlName="filterText" />
                        <button class="btn btn-outline-app" type="submit">Search</button>
                    </div>
                    <!-- </form> -->
                </div>
                <hr>

            </div>

            <!-- Companies Data -->
            <div class="col-9">
                <div class="row row-cols-1 row-cols-md-1 g-2">
                    <div *ngFor="let transportRequest of transportRequests" class="col">
                        <div class="card w-100 mb-3">
                            <div class="card-body">
                                <div class="transport-request info">
                                    <h5 class="card-title">
                                        {{transportRequest.companyName}}
                                        <span
                                            class="badge bg-primary rounded-pill">{{transportRequest.transportType}}</span>
                                    </h5>
                                    <p class="card-text">
                                        {{transportRequest.customerFirstName + " " + transportRequest.customerLastName}}
                                        <br>
                                        {{"Nakliyat tipi: " + transportRequest.transportType}}
                                    </p>
                                    <p class="card-text">
                                        {{transportRequest.countryFrom + ", " + transportRequest.cityFrom
                                        + " -> " +
                                        transportRequest.countryTo + ", " + transportRequest.cityTo}}
                                    </p>
                                    <p class="card-text">
                                        {{"Start date: "}}
                                        <span class="fw-semibold">{{transportRequest.startDate | date}}</span>
                                    </p>
                                </div>

                                <hr>

                                <div class="payment-request-info mb-3">
                                    <div *ngIf="getPaymentRequestByTransportRequest(transportRequest)">
                                        <h6 class="card-title">
                                            {{"Payment Request Info"}}
                                            <span class="badge bg-secondary rounded-pill">
                                                {{getPaymentRequestByTransportRequest(transportRequest)!.price + " TL"}}
                                            </span>
                                        </h6>
                                        <p class="card-text">
                                            {{"Price: " + getPaymentRequestByTransportRequest(transportRequest)!.price +
                                            " TL"}}
                                        </p>
                                        <p class="card-text">
                                            {{"Transport acceptance date: "}}<span
                                                class="fw-semibold">{{getPaymentRequestByTransportRequest(transportRequest)!.createdDate
                                                | date}}</span>
                                        </p>
                                    </div>
                                    <div *ngIf="!getPaymentRequestByTransportRequest(transportRequest)">
                                        <h5 class="card-title text-muted">
                                            {{"Payment request has not been sent yet."}}
                                        </h5>
                                    </div>
                                </div>

                                <a (click)="pay(transportRequest)" class="btn btn-primary me-2">
                                    Pay and start transportation
                                </a>
                                <a (click)="reject(transportRequest)" class="btn btn-secondary me-2">
                                    Reject and close this transport request
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="p-body">

        </div>


    </div>
</section>