<div class="modal-header">
    <h5 class="modal-title">Ekle</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="translateAddForm">
        <div class="mb-3">
            <div class="form-floating mb-3">
                <input type="email" formControlName="key" class="form-control" id="key" placeholder="key">
                <label for="key">Key</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <select class="form-select" formControlName="languageId" id="languageId">
                    <option *ngFor="let language of languages" [value]="language.id">
                        {{language.languageName}}</option>
                </select>
                <label for="languageId">Dil Seçin</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <textarea class="form-control" formControlName="value" placeholder="value" id="value"></textarea>
                <label for="value">Value</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal">İptal</button>
    <button type="button" class="btn btn-primary" (click)="add()">Ekle</button>
</div>