<form [formGroup]="createCommentForm">
    <div class="row g-3 mb-3 align-items-center">
        <div class="col">
            <textarea formControlName="description" type="text" id="description" class="form-control"
                aria-describedby="description" placeholder="{{'whatAreYouThinking' | translate }}"></textarea>
        </div>
    </div>
    <div class="clearfix">
        <ngx-star-rating class="float-start" formControlName="point" id="point"></ngx-star-rating>

        <div class="align-bottom">
            <select class="form-select w-25" formControlName="transportRequestId" id="transportRequestId">
                <option selected>{{'selectJobToCommentOn' | translate}}</option>
                <option *ngFor="let transportRequest of transportRequests" [value]="transportRequest.id">
                    {{transportRequest.companyName}} - {{transportRequest.countryFrom +" -> "+
                    transportRequest.countryTo}}
                </option>
            </select>
        </div>

        <button type="button" class="btn btn-warning float-end" (click)="createComment()">{{'doComment' | translate}}</button>
    </div>
</form>