<div class="modal-header">
    <h5 class="modal-title">Nakliyat Talebi Hakkında</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <div class="alert alert-secondary" role="alert">
        <h5>{{transportRequest.customerFirstName + " " + transportRequest.customerLastName}}</h5>
        <h6>
            {{"From "+transportRequest.countryFrom + "To " +transportRequest.countryTo}}
        </h6>
    </div>
    <p *ngIf="!transportRequest.isPaid">
        Müşteri ödemeyi henüz yapmadı, nakliye bittikten sonra ödeme gerçekleşecektir.
    </p>
    <p *ngIf="!transportRequest.isFinished">
        İş henüz bitmedi olarak görünüyor.
    </p>
    <p *ngIf="transportRequest.isFinished">
        İş bittiğine göre bir sonrakine geçebiliriz.
    </p>
    <p *ngIf="!transportRequest.isPaid">
        Müşteri nakliyat ödemesini yapmıştır. Yapılan nakliye müşteri tarafından 'Finished' olarak
        işaretlenecek. Kolay gelsin.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Tamam</button>
</div>