<div class="container mb-5">
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 g-4">

        <!-- Customer -->
        <div class="col-lg-6 col-sm-12">
            <div class="card h-100 text-center card-select" (click)="navigate('customer')">

                <div class="card-body align-items-center d-flex justify-content-center">
                    <img class="img-fluid card-img-top" src="assets/images/customer.jpg" style="max-width: 250px;"
                        alt="">
                    <h2 class="card-text fw-normal text-muted">Ev, ofis ve eşyalarınızı nakliye edin</h2>
                </div>

            </div>
        </div>

        <!-- Company -->
        <div class="col-lg-6 col-sm-12">
            <div class="card h-100 text-center card-select" (click)="navigate('company')">

                <div class="card-body align-items-center d-flex justify-content-center">
                    <img class="img-fluid card-img-top " src="assets/images/company.jpg" style="max-width: 250px;"
                        alt="">
                    <h2 class="card-text fw-normal text-muted">nakliye ekibinizi toplayın</h2>
                </div>

            </div>
        </div>

    </div>

</div>