<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ps-lg-2">
    <h1 class="h2">Ürünler</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button class="btn shadow-none me-2">
                <fa-icon [icon]="faRedoAlt" size="1x" class="fa fa-icon-refresh" (click)="getAll();">
                </fa-icon>
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="openAddForm()">Ekle</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
        </div>
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
        </button> -->
    </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">QPU</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngIf="dataLoaded" class="table-group-divider">
        <tr *ngFor="let product of products; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.quantityPerUnit}}</td>
            <td>{{product.price}}</td>
            <!-- <td class="text-end">
                <button class="btn shadow-none me-2" (click)="openUpdateForm(language)">
                    <fa-icon [icon]="faEdit" size="1x" class="fa-icon-edit me-2"></fa-icon>
                </button>
                <button class="btn shadow-none" (click)="openDeleteForm(language)">
                    <fa-icon [icon]="faTrash" size="1x" class="fa-icon-trash me-2"></fa-icon>
                </button>
            </td> -->
        </tr>
    </tbody>
</table>
<div *ngIf="!dataLoaded" class="d-flex justify-content-center mt-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>