<body class="d-flex align-items-center py-4 bg-body-tertiary" style="height: 95vh;">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="registerForm">
            <img class="mb-4" src="assets/images/logo.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Lütfen kayıt olun</h1>

            <div class="form-floating">
                <input type="text" formControlName="userName" class="form-control" id="userName"
                    placeholder="user Name">
                <label for="userName">User name</label>
            </div>
            <div class="form-floating">
                <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="John">
                <label for="firstName">First name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Doe">
                <label for="lastName">Last name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" formControlName="age" class="form-control" id="age" placeholder="18...">
                <label for="age">Age</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" formControlName="companyId" class="form-control" id="companyId"
                    placeholder="18...">
                <label for="companyId">Company Id</label>
            </div>

            <div class="form-floating">
                <input type="email" formControlName="email" class="form-control" id="email"
                    placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" formControlName="password" class=" form-control" id="password"
                    placeholder="Password">
                <label for="password">{{"password" | translate}}</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button type="button" class="btn btn-custom w-100 py-2" (click)="register()">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
    </main>
</body>