<div class="modal-header">
    <h5 class="modal-title">Güncelle</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="translateUpdateForm" form>
        <div class="mb-3">
            <div class="form-floating mb-3">
                <input type="text" formControlName="key" class="form-control" id="key" placeholder="Translate Key">
                <label for="key">Key</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <select class="form-select" formControlName="languageId" id="languageId">
                    <option *ngFor="let language of languages" [value]="language.id">
                        {{language.globallyName}} - {{language.locallyName}}
                    </option>
                </select>
                <label for="languageId">Dil Seçin</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating mb-3">
                <input type="text" formControlName="value" class="form-control" id="value" placeholder="Translate Value">
                <label for="value">Value</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal">İptal</button>
    <button type="button" class="btn btn-primary" (click)="updateTranslate()">Güncelle</button>
</div>