<div class="modal-header">
    <h5 class="modal-title">{{'update' | translate}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="operationClaimUpdateForm">
        <div class="mb-3">
            <div class="form-floating mb-3">
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
                <label for="name">Claim Name</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal">
        {{"cancel" | translate}}
    </button>
    <button type="button" class="btn btn-primary" (click)="update()">{{'update' | translate}}</button>
</div>