<div class="container-fluid">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <!-- img -->
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Vecware Team</h1>
                <p class="lead">
                    Vecware Team 2023 yılında İsmail Kaygısız ve Fatih Dağ tarafından kurulmuştur. Takımımız
                    Techcareer.net'in 'Transportathon Hackathon' yarışması için bu projeyi hazırlamıştır. 9 günde İsmail
                    Kaygısız bu projenin backend tarafını
                    geliştirmiştir. Fatih Dağ ise frontend tarafını geliştirmiştir.
                    <br>
                    Projenin Github adresine aşağıdan ulaşabilirsiniz.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a type="button" class="btn btn-dark btn-lg px-4 me-md-2" href="https://github.com/Vecware-Team">
                        <fa-icon [icon]="faGithub" class="1x"></fa-icon>
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>