<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ps-lg-2">
    <h1 class="h2">Çalışanlar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button class="btn shadow-none me-2">
                <fa-icon [icon]="faRedoAlt" size="1x" class="fa fa-icon-refresh" (click)="getList();">
                </fa-icon>
            </button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="openHireDriverModal()">
            Hire Driver
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="openHireCarrierModal()">
            Hire Carrier
        </button>
    </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Age</th>
            <th scope="col">atWork</th>
            <th scope="col">Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="dataLoaded" class="table-group-divider">
        <tr *ngFor="let employee of employees; let i = index;">
            <th scope="row">{{i + 1}}</th>
            <th>{{employee.firstName}}</th>
            <td>{{employee.lastName}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.isOnTransitNow}}</td>
            <td>{{getEmployeeType(employee)}}</td>

            <td class="text-end">
                <button class="btn btn-outline-primary shadow-none me-2" (click)="openHireOutCarrierModal(employee)">
                    <fa-icon [icon]="faEdit" size="1x" class="fa fa-edit"></fa-icon>
                </button>
                <button class="btn btn-outline-danger shadow-none" (click)="openHireOutDriverModal(employee)">
                    <fa-icon [icon]="faTrash" size="1x" class="fa fa-trash"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!dataLoaded" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>