<!-- START THE LG  -->
<div class="container-fluid pe-0 ps-0 w-100">

    <!-- Masthead -->
    <div class="masthead">
        <div class="container-xxl bd-gutter">
            <div class="px-4 py-5 mb-5 col-md-8 mx-auto text-center">
                <img class="d-block mx-auto mb-3" src="assets/images/logo.webp" alt="" height="165">
                <h1 class="display-3 fw-semibold" style="margin-bottom: 1rem; max-width: 800px;">
                    Temiz ve Hızlı Bir Başlangıç
                </h1>
                <div class="col-lg-12 mx-auto">
                    <p class="lead mb-4" style="font-weight: 400;">
                        Bu taslak, çalışmalarınıza başlarken hızlı bir başlangıç yapmanızı hedefler. Bu sayede tekrar eden
                        işlerden kurtulmuş olursunuz.
                        <br>
                        Günümüzde birçok amaçla web ve masaüstü uygulamaları yapılıyor. Bizim için bu çalışmaların temelini inşa etmek artık çok kolay. Projemizin dökümanını 
                        adım adım takip ederek hızlı bir başlangıç yapabilirsiniz. 
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a type="button" routerLink="/" class="btn btn-outline-dark btn-lg px-4">
                            Döküman
                        </a>
                        <a type="button" routerLink="/"
                            class="btn btn-light btn-lg px-4">
                            Hakkımızda
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overview -->
    <div class="container marketing mb-5 mt-5" data-bs-spy="scroll" data-bs-target="#myCarousel" data-bs-offset="0"
        tabindex="0">
        <div class="row featurette" style="margin-top: 5%;">
            <div class="col-md-5 order-md-1 d-flex align-items-center">
                <img src="assets/images/konya.webp" alt="" width="500" height="500" class="img-fluid">
            </div>
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading-2" id="0">
                    Mimarimiz
                </h2>
                <p class="lead text-muted">
                    Anadolu’da kervan yolları üzerinde ki konumu, coğrafi özellikleri ve Selçuklu Devleti’nin başkenti
                    olarak önemini uzun yıllar boyunca sürdürmüş bir kent olan Konya, Türk-İslam mimarisinin yoğun
                    olarak uygulandığı şehirlerden biridir.
                </p>
                <a type="button" class="btn btn-outline-secondary btn-md px-4 me-md-2 fw-bold"
                    (click)="scrollTop('/konya', 'konya')">
                    Daha Fazla
                </a>
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="row featurette" style="margin-top: 5%;">
            <div class="col-md-5 order-md-2">
                <img src="assets/images/home-h2.webp" alt="" width="500" height="500" class="img-fluid">
            </div>
            <div class="col-md-7 order-md-1 pe-5">
                <h2 class="featurette-heading-2" id="0">
                    Başlangıç
                </h2>
                <p class="lead text-muted">
                    Çalışma ile sahip olduğumuz tarihi, edebi ve kültürel zenginliğimize araştırmacıların, yerli ve
                    yabancı ziyaretçilerin doğru bilgiye hızlı olarak ulaşmalarını sağlamak istedik. Bunun için de “Yapı
                    Tanıtım Kimlik Kartı” nı tasarladık.
                </p>
                <a type="button" class="btn btn-light btn-md px-4 me-md-2 fw-bold"
                    routerLink="/about-us/construction-promotion-id-card">
                    Daha Fazla
                </a>
            </div>
        </div>
    </div>
</div> <!-- /.container -->
<!-- END THE LG  -->