@media (min-width: 768px) {
  .featurette-heading {
    color: black;
    font-weight: 400;
    font-size: 50px;
    margin-top: 5rem;
  }

  .featurette-heading-2 {
    color: black;
    font-weight: 400;
    font-size: 50px;
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .featurette-heading {
    color: black;
    font-weight: 400;
    font-size: 35px;
    margin-top: 5rem;
  }

  .featurette-heading-2 {
    color: black;
    font-weight: 400;
    font-size: 35px;
    margin-top: 3rem;
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  color: rgb(175, 168, 158);
}

.masthead {
  /* background-color: rgb(226, 226, 226); */
  background-color: rgb(255, 255, 255);
  margin-top: 4rem;
}

hr.featurette-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img-sm {
  margin-bottom: 1rem;
}

/* .img-shadow {
  box-shadow: 0 0 10px 6px white inset;
}

.img-shadow img {
  position: relative;
  z-index: -1;
} */

ul li {
  color: var(--text-muted);
}

.list-group .list-group-item {
  background-color: var(--app-background-color);
  color: var(--text-muted);
  border-top: 1px solid #363738;
}

a.link {
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

a.unlink {
  text-decoration: none;
}
