<section style="background-color: var(--app-background-color);">
    <div class="container py-5" style="height: 95vh;">

        <div class="p-head mb-3">
            <h1 href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="assets/images/logo.png" width="40" height="32" class="me-2" alt="">
                <span class="fs-4">Payment Requests</span>
            </h1>
        </div>

        <div class="row" style="min-height: 75vh;">

            <!-- Filters -->
            <div class="col-3">
                <div class="mb-3">
                    <!-- <form [formGroup]="filterForm" (ngSubmit)="search()" (keyup.enter)="search()"> -->
                    <!-- <div class="mb-1 d-flex">
                        <input class="form-control me-1" type="search" placeholder="Ara" aria-label="Search"
                            formControlName="filterText" />
                        <button class="btn btn-outline-app" type="submit">Search</button>
                    </div> -->
                    <!-- </form> -->
                </div>
                <hr>

            </div>

            <!-- Companies Data -->
            <div class="col-9">
                <div class="row row-cols-1 row-cols-md-1 g-2">
                    <div *ngFor="let paymentRequest of paymentRequests.items" class="col">
                        <div class="card w-100 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{customer.userName}}
                                    <span class="badge bg-primary rounded-pill">{{paymentRequest.price + " TL"}}</span>
                                </h5>
                                <p class="card-text">
                                    {{"Price: " + paymentRequest.price + " TL"}}
                                </p>
                                <p class="card-text">
                                    {{"Transport acceptance date: "}}{{paymentRequest.createdDate | date}}
                                </p>
                                <a class="btn btn-primary me-2">
                                    Pay
                                </a>
                                <a class="btn btn-secondary me-2">
                                    Reject
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="p-body">

        </div>


    </div>
</section>