<section style="background-color: var(--app-background-color);">
    <div class="container py-5" style="height: 95vh;">

        <div class="p-head mb-3">
            <h1 href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="assets/images/logo.png" width="40" class="me-2" alt="">
                <span class="fs-4">{{'transportCompanies' | translate}}</span>
            </h1>
        </div>

        <div class="row" style="min-height: 75vh;">

            <!-- Filters -->
            <div class="col-lg-3 col-sm-12">
                <div class="mb-3">
                    <!-- <form [formGroup]="filterForm" (ngSubmit)="search()" (keyup.enter)="search()"> -->
                    <div class="mb-1 d-flex">
                        <input class="form-control me-1" type="search" placeholder="Ara" aria-label="Search" />
                        <button class="btn btn-outline-app" type="submit">{{'search' | translate}}</button>
                    </div>
                    <!-- </form> -->
                </div>
                <hr>

            </div>

            <!-- Companies Data -->
            <div class="col-lg-9 col-sm-12">
                <div *ngIf="dataLoaded" class="row row-cols-1 row-cols-md-1 g-2">
                    <div *ngFor="let company of companies.items" class="col">
                        <div class="card w-100 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{company.companyName}}</h5>
                                <p class="card-text">{{company.userName}}</p>
                                <a routerLink="company/details/{{company.appUserId}}" class="btn btn-primary me-2">
                                    {{'goCompany' | translate}}
                                </a>
                                <a *ngIf="appUser !== null && appUser.userType === 'Customer'"
                                    routerLink="/transport-requests/create/{{company.appUserId}}"
                                    class="btn btn-primary">
                                    {{'createTransportRequest' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="companies.count <= 0" class="text-muted text-center fs-3">
                        {{'weCannotFindAnyCompany' | translate}}
                    </div>

                    <div *ngIf="dataLoaded && (companies.count > 0)" class="p-body d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a [class.disabled]="companies.hasPrevious" class="page-link" aria-label="Previous"
                                        (click)="companies.hasPrevious && updateRoute(pageIndex - 1)">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li *ngFor="let pageNumber of getPageCount()" class="page-item">
                                    <a class="page-link" (click)="updateRoute(pageNumber)">
                                        {{pageNumber + 1}}
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a [class.disabled]="companies.hasNext" class="page-link" aria-label="Next">
                                        <span aria-hidden="true"
                                            (click)="companies.hasPrevious && updateRoute(pageIndex + 1)">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>






    </div>
</section>