<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav my-navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-link-custom nav-link-collapse" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom nav-link-collapse" routerLink="/transportations">Transportations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom nav-link-collapse" routerLink="/companies">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom nav-link-collapse" routerLink="/admin">Admin</a>
        </li>
      </ul>

      <li *ngIf="isLogged()" class="nav-item dropdown dropdown-menu-end ms-2">

        <a class="nav-link d-block link-dark text-decoration-none dropdown-toggle" role="button" id="dropdownUser"
          data-bs-toggle="dropdown" aria-expanded="false">
          <!-- <img class="rounded-circle" width="32" height="32"> -->
          {{tokenUser.userName}}
        </a>

        <ul class="dropdown-menu text-small dropdown-menu-light" aria-labelledby="dropdownUser">
          <li><a class="dropdown-item" routerLink="/admin">{{"adminPanel" | translate}}</a></li>
          <li><a *ngIf="tokenUser.userType === 'Company'" class="dropdown-item"
              routerLink="/company/panel">{{"companyPanel" | translate}}</a>
          </li>
          <li><a *ngIf="tokenUser.userType === 'Customer'" class="dropdown-item" routerLink="/profile">{{"profile" |
              translate}}</a></li>
          <li><a class="dropdown-item">{{'settings' | translate}}</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="signOut()">{{'signOut' | translate}}</a></li>
        </ul>

      </li>

      <form *ngIf="!isLogged()" class="d-flex" role="search">
        <button class="btn btn-outline-success me-2" type="submit" routerLink="/login">Login</button>
        <button class="btn btn-outline-success" type="submit" routerLink="/register">Register</button>
      </form>
    </div>
  </div>
</nav>